* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Montserrat', sans-serif;
    vertical-align: baseline;
    scroll-behavior: smooth; 
    line-height: 160%;
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

p {
    margin-bottom: 20px;
}


:root {
    --bgcolor-one: #698EC0;
    --bgcolor-two: #fff;
    --bgcolor-three: #e4e4e4;
    --bgcolor-four: #4e6383;
    --color-one: #fff;
    --color-two: #000;
    --color-three: #4e6383;
    --borders: lime;
}

body {
    background-color: var(--bgcolor-one);
    font-size: 1.05em;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--bgcolor-one);
    padding: 5px 0;
}

header nav {
    display: flex;
    align-items: center;
    max-width: 70vw;
    height: 10vh;
    margin: 0 auto;
}

.logo {
    cursor: pointer;
}
.menu {
    text-align: right;
    width: 80vw;
}

.menu ul {
    display: flex;
}

.menu ul li {
    display: inline;
    float: right;
    width: 80%;
}

.menu ul li a {
    color: var(--color-one);
    font-weight: bold;
    text-decoration: none;
}

.menu ul li a:hover {
    color: var(--color-two);
}

.nav__mobile {
    display: none;
    text-align: right;
    width: 80%;
    padding: 1.2em;
    font-size: 1.4em;
}

.nav__mobile--icon a {
    color: var(--color-one);
    text-decoration: none;
    font-size: 40px;
}

.close_menu {
    display: block;
    color: var(--color-one);
    text-decoration: none;
    font-size: 40px;
}

.menu__mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    background-color: var(--bgcolor-one);
    padding: 5%;
    animation: to_descend 1s ease-in-out;
}

.menu__mobile ul {
    text-align: center;
}

.menu__mobile ul li {
    border-bottom: 1px solid var(--borders);
    padding: 20px 0px;
    text-decoration: none;
}

.menu__mobile ul li:last-child {
    border-bottom: none;
    text-decoration: none;
}

.menu__mobile ul li a {
    color: var(--color-one);
    padding: 5vw;
    text-decoration: none;
}

section {
    height: 80vh;
    padding: 120px 0px;
}

section .content {
    width: 70vw;
    margin: 0px auto;
}

.section__one {
    background-color: var(--bgcolor-two);
}

.section__two {
    background-color: var(--bgcolor-three);
}

.section__three {
    background-color: var(--bgcolor-four);
    color: var(--color-one);
}

footer {
    width: 100%;
    color: var(--color-one);
    padding: 20px 0px;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: center;
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
}

footer nav a {
    color: var(--color-two);
    margin-left: 5px;
    text-decoration: none;
}

footer nav a:hover {
    color: var(--color-one);
}

@media only screen and (max-width: 750px){
    header nav {
        max-width: 100vw;
    }
    .logo {
        margin-left: 1.2em;
    }
    .menu {
        display: none;
    }

    .nav__mobile {
        display: block;
    }
    section .content {
        width: 90%;
        padding: 5%;
    }
}

/* animation move to botton */ 
    @keyframes to_descend {
    -200% {
    transform: translateY(0px);
    }
    0% {
    transform: translateY(-600px);
    }
}